@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,900&display=swap");
body {
  background: #f4cfa9;
  font-family: "Roboto", sans-serif;
  color: #010100; }

.top-container {
  height: 100vh;
  background-image: url(../img/intro-lg.jpg);
  background-position: center;
  background-size: cover;
  border: 2px dashed; }
  .top-container__heading {
    text-align: center;
    padding: 6rem 0;
    font-size: 5rem; }

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  .gallery__image {
    width: 510px;
    margin: 1rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 22px;
    border: 4px dashed; }
  .gallery__bubble {
    width: 510px;
    font-size: 3rem;
    border-radius: 84px 27px 350px 10px;
    background-color: #fff;
    align-self: center;
    text-align: center;
    margin: 1rem;
    height: auto;
    padding: 1rem 3rem 1rem 2rem; }

:root {
  font-size: 62.5%;
  /* (62.5/100) * 16px = 10px */ }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

* {
  margin: 0;
  padding: 0; }
