body {
    background: $primary-bg;
    @include roboto; 
    color: $primary-color;
}

.top-container { 
    height: 100vh;
    background-image: url(../img/intro-lg.jpg);
    background-position: center;
    background-size: cover;
    border: 2px dashed;

    &__heading {
        text-align: center;
        padding: 6rem 0;
        font-size: 5rem;
    }
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    &__image {
        width: 510px;
        margin: 1rem;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
        border-radius: 22px;
        border: 4px dashed;
    }

    &__bubble {
        width: 510px;
        font-size: 3rem;
        border-radius: 84px 27px 350px 10px;
        background-color: #fff;
        align-self: center;
        text-align: center;
        margin: 1rem;
        height: auto;
        padding: 1rem 3rem 1rem 2rem;
    }
}

